<style>
/*temporary only*/
@media (max-width: 767px) {
	header{
		display: none
	}	
}
</style>

<div class="page-header">
	<h1>
		<a href="../"><img src="//www.gravatar.com/avatar/{{emailHash}}" width="40" title="{{screenName}}" /></a>
		{{gifTitle}}
		<small>Nov 3<sup>rd</sup>, 2012</small>
	</h1>
</div>

<div class="row">

	<div class="span6">
		<div id="animation">
			<img src="{{gifUrl}}" alt="GIF!" />
		</div>
		<hr/>
		<div id="animation-buttons" class="row">
			<div class="span2">
			
<!-- 
			</div>
			<div class="span7"> -->

				<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check this out:" data-via="mustachemonitor" data-size="large" data-hashtags="ShareYourStache">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

				<div class="fb-send" data-href="{{url}}"></div>

				<!-- <div class="fb-comments" data-href="{{url}}" data-num-posts="2" data-width="470"></div> -->

			</div>
			<div class="span4">
				<br class="visible-phone"/>
				<a href="#" class="pull-right btn btn-large btn-info">Random Stache <i class="icon-white icon-chevron-right"></i></a>
			</div>
		</div>

	</div>
	
	<br class="visible-phone"/>

	<div id="ads" class="span6">
		<div class="row">
			<div class="span3">
				<img src="/assets/img/ad1.png" />
			</div>
		
			<div class="span3">
				<img src="/assets/img/ad2.png" />
			</div>
		</div>
		 <div class="row">
			<div class="span3">
				<img src="/assets/img/ad3.png" />
			</div>
		
			<div class="span3">
				<img src="/assets/img/ad5.png" />
			</div>
		</div>
		<!--<div class="row">
			<div class="span3">
				<img src="/assets/img/ad4.png" />
			</div>
		
			<div class="span3">
				<img src="/assets/img/ad6.png" />
			</div>
		</div> -->
	</div>

</div>